<h1>Welcome to Dorm Oracle</h1>
<div>Enter your housing lottery number:<br />
    <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Lottery Num:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Enter") %>
    <% end %>

    <br>
    <%= link_to 'New post', new_post_path %><br>
    <%= link_to "My Blog", controller: "posts" %><br>

</div>
